* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(97, 97, 97, 0.281);
    width: 100%;
    height: 56px;
    position: sticky;
    z-index: 1;
}

.header-left {
    width: 20%;
    text-align: right;
    cursor: pointer;
    margin: 5px 0px;
}

.header-left a {
    color: rgb(254, 165, 0);
    font-size: 50px;
    text-decoration: none;
    letter-spacing: 1.5px;
    font-weight: bold;
    font-style: italic;
}

.fa-plus {
    font-size: 25px;
    color: black;
}

.header-center {
    width: 40%;
    text-align: left;
    line-height: 50px;
    cursor: pointer;
    padding-left: 10px;
    position: relative;
}

.header-center-input {
    margin-top: 10px;
    height: 36px;
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
    text-align: left;
    padding-left: 20px;
    cursor: auto;
    border-radius: 50px;
    text-decoration: black;
}

.fa-magnifying-glass {
    position: absolute;
    top: 36%;
    left: 94%;
    font-size: 18px;
    color: black;
}

.login {
    position: relative;
    left: -10px;
    margin-top: 17px;
}

.login_btn {
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
    background: transparent;
    height: 32px;
    letter-spacing: 1px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    padding: 6px 40px;
    font-weight: bold;
    margin: 0px 20px;
}

.more {
    position: relative;
    margin-top: 17px;
    left: -50px;
    font-weight: bold;
    letter-spacing: 1px;
}

.cart {
    margin-top: 17px;
    margin-right: 60px;
}

.none {
    display: none;
}

.flex {
    display: flex;
}

.more-icon {
    color: black;
    margin-left: 15px;
    padding: 20px;
}

.more_lan {
    color: black;
    cursor: pointer;
    padding: 7px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
    background: transparent;
}

.pointer {
    width: 20px;
    height: 20px;
    background: white;
    position: relative;
    top: 10px;
    left: 80%;
}

.fa-angle-down:hover {
    transform: rotate(180deg);
}

.more_dropdown,
.login_dropdown {
    top: 12px;
    position: relative;
}

.login_dropdown_list,
.more_dropdown_list {
    position: absolute;
    box-shadow: 0 4px 16px - rgb(0 0 0/ 20%);
    list-style: none;
    background-color: white;
    width: max-content;
    min-width: 240px;
    transform: translate(-30px);
}

.login_drop_li {
    padding: 16px 20px;
    border-bottom: 1px solid white;
    font-size: 14px;
    cursor: pointer;
}

.login_drop_li .fa-solid {
    color: black;
    padding-right: 10px;
}

.login_drop_li:hover {
    background: transparent;
}

.login_drop_li:first-child {
    padding: 20px;
}

.login_drop_li:last-child:hover {

    color: white;
}

.login:hover .login_dropdown,
.more:hover .more_dropdown {
    display: block;
}

.login_drop_li:last-child {
    padding: 20px;

}

.sign_up {
    text-decoration: none;
    color: red;
}

.sign_up:hover {
    text-decoration: underline;
}

.sign_Li {
    justify-content: space-between;
    font-size: 14px;
}

.new_login {
    font-weight: bold;
}

.cart_lan .fa-cart-shopping {
    padding-right: 12px;
    padding-top: 20px;
    color: black;
    cursor: pointer;
}

.category-row {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    background-color: rgba(153, 153, 153, 0.281);
    padding: 10px;
    margin-top: 2px;
    width: 100%;
    height: auto;
    z-index: 1;
}

.category-col {
    padding: 10px 0px;
    cursor: pointer;
    color: rgb(85, 83, 83)
}

.category-col img {
    width: 64px;
    height: 64px;
}

.category-col h5:hover {
    color: #2874f0;
}

.category-col h5 {
    margin-left: -10px;
}

.img1 {
    margin-left: -20px;
}

.img2 {
    margin-left: -20px;

}
.cart {
    position: fixed;
    top: 0;
    right: -100%;
    width: 360px;
    min-height: 100vh;
    padding: 20px;
    background: wheat;
    /* box-shadow: -2px 0 4px hsla(0 4% 15% /10%); */
    transition: 0.3s;
}

.cart.active {
    right: 0;
}

.cart-content:last-child {
    border-bottom: none;
}

.product-img {
    width: 100px;
    height: 100px;
    /* object-fit: contain; */
    padding: 10px;
}

.detail-box {
    display: grid;
    row-gap: 0.5rem;
}

.cart-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
}

.product-title {
    font-size: 1.2rem;
    text-transform: uppercase;
}

.cart-price {
    font-weight: 500;
    color: green;
}

.cart-quantity {
    border-radius: 3px;
    border: 2px solid #2874f0;
    outline-color: #2874f0;
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
}

.cart-remove {
    color: #2874f0;
}

.cart-remove:hover {
    color: #b53024;
}

.total {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-bottom: solid black;
}

.total-title {
    font-size: 1rem;
    font-weight: 600;
}

.total-price {
    margin-left: 0.5rem;
}

.btn-buy {
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    background: #2874f0;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.btn-buy:hover {
    background: hsla(13, 87%, 55%);
}

#close-cart {
    position: absolute;
    top: 1rem;
    right: 0.8rem;
    font-size: 2rem;
    color: #2874f0;
    cursor: pointer;
}

.dropdown {
    background-color: rgb(221, 228, 234);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgb(0, 0, 0, 0.2);
}

.dropdown-content .header {
    background: rgba(153, 153, 153, 0.281);
    padding: 0px;
    color: black;
}

.col a {
    float: left;
    color: black;
    padding: 8px;
    border-radius: 2px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.col {
    float: left;
    width: 33.333%;
    height: auto;
    background-color: rgba(153, 153, 153, 0.281);
    padding: 10px;
}

.col a:hover {
    background-color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.banner {
    width: 100%;
    overflow: hidden;
    z-index: -1;
}

.slider {
    display: flex;
    flex-direction: row;
    animation-name: slider;
    position: relative;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    transition-delay: 5s;
    z-index: -1;
}

.slider img {
    width: 100%;
    z-index: -1;
}

@keyframes slider {
    0% {
        left: 0px;
    }

    14% {
        left: 0px;
    }

    28% {
        left: -1520px;
    }

    42% {
        left: -3040px;
    }

    56% {
        left: -4560px;
    }

    70% {
        left: -6080px;
    }

    84% {
        left: -7600px;
    }

    100% {
        left: -9120px;
    }
}

.card {
    box-shadow: rgb(177, 174, 174) 0px 0px 5px 1px;
    padding: 10px 0px;
    margin: 10px 5px;
    border-radius: 5px;
    background-color: rgba(97, 97, 97, 0.281);
}

.common-heading {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px 20px;
    margin-top: 20px;
    box-shadow: 0 1px 1px 0 rgb(0 0 0/16%);

}

.common-heading-left h1 {
    font-size: 20px;
    font-weight: 400;
    padding: auto;
    margin-top: -20px;
}

.common-heading-right button {
    width: 90px;
    height: 40px;
    font-size: 18px;
    background-color: #8b8b8b;
    border: none;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    margin-top: -20px;
}

.common-row {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-height: 366px;
    margin: 10px 0px;

}

.common-col {
    text-align: center;
    line-height: 22px;
}

.common-col img {
    width: 69px;
    height: 150px;
    transition: 300ms;
}

.common-col img:hover {
    transform: scale(1.1);
}

.common-col h3 h4 h6 {
    text-transform: capitalize;
    letter-spacing: 1px;
    cursor: pointer;
}

.common-col h3 {
    margin-top: 10px;
    font-size: 16px;
}

.common-col h4 {
    color: green;
    font-size: 14px;
    font-weight: 300;
}

.common-col h6 {
    color: black;
    font-size: 14px;
    font-weight: 100;
}

.col-deals img {
    width: 145px;
    height: 170px;
}

#add-cart:hover {
    color: #2874f0;
}

.col-col img {
    width: 600px;
    border-radius: 20px;
}

/*----------------------------footer------------------------------------*/
footer {
    background-color: rgba(97, 97, 97, 0.281);
    height: 332;
}

.footer-row2-col img {
    width: 250px;
}

.footer-row {
    width: 100%;
    height: 270px;
    display: flex;
    padding: 30px 60px;
}

.footer-row2 {
    display: flex;
    border-top: 1px solid black;
    justify-content: space-evenly;
    background-color: rgba(97, 97, 97, 0.281);
}

.footer-col1 {
    width: 15%;
}

.footer-col2 {
    width: 15%;
}

.footer-col3 {
    width: 15%;
}

.footer-col4 {
    width: 10%;
}

.footer-col5 {
    width: 20%;
    border-left: 1px solid black;
    height: 120px;
    padding-left: 25px;
}

.footer-col6 {
    width: 20%;
    padding-left: 50px;
}

.footer-heading p {
    color: #878787;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    padding: 10px 0px;
    cursor: pointer;
    text-transform: uppercase;
}

.footer-list a {
    text-align: left;
    display: block;
    text-decoration: none;
    text-transform: capitalize;
    color: black;
    font-size: 12px;
    font-weight: 400;
    padding: 5px 0px;
    letter-spacing: .7px;

}

.footer-row2-col p {
    color: black;
    font-size: 15px;
    font-weight: 100px;
    line-height: 20px;
    cursor: pointer;
    text-align: center;
    line-height: 50px;
    letter-spacing: .7px;
}